* {
  padding: 20px;
  margin: 20px;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: medium
}

.contatiner {
  display: flex;
  justify-content: center;
  align-items: center;
 color: black;
  background: white;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}